@{
    ViewBag.Title = "EmployerHome";
}

<div class="container">
 <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Employers Home
            <small>Your place to start expanding your Business </small>
        </h1>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Home", "Index", "Home")

            </li>
            <li class="active">Employers Home</li>
        </ol>
    </div>
 </div>
</div>
