@{
    ViewBag.Title = "MemberHome";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Members Home
                <small>Home Sweet Home </small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")

                </li>
                <li class="active">Members Home</li>
            </ol>
        </div>
    </div>
</div>
