@{
    ViewBag.Title = "Counseling";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Counseling and Mediation Index
                <small> </small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")

                </li>
                <li class="active">Counseling and Mediation Index</li>
            </ol>
        </div>
    </div>
    <div id="w">
        <p>Sometimes there is no other course but legal or you may need a extra helping hand, below is a list of counseling and mediation services that maybe able to help.</p>

        <div id="container">
            <nav id="links">
                <h2>A</h2>

                <ul><li><a href="http://www.mediationservices.net/">Alhadeff and Forbes</a></li></ul>


                <h2>B</h2>

                <h2>C</h2>

                <ul><li><a href="http://clcattorneys.com/">C.L.C.</a> </li></ul>

                <h2>D</h2>

                <h2>E</h2>

                <ul><li><a href="https://www.eeoc.gov//employees/mediation.cfm ">EEOC: Mediation</a> </li></ul>

                <h2>F</h2>

                <h2>G</h2>

                <h2>H</h2>

                <h2>I</h2>

                <h2>J</h2>

                <h2>K</h2>

                <h2>L</h2>

                <h2>M</h2>

                <ul><li><a href="http://www.mediate.com/index.cfm">Mediate.com : Everything Mediation</a></li></ul>

                <ul><li><a href="http://www.mediationservices.works/">Mediation Services</a></li></ul>

                <h2>N</h2>

                <h2>O</h2>

                <h2>P</h2>

                <ul><li><a href="https://www.parrlaw.com/">ParrRichey</a></li></ul>

                <h2>Q</h2>

                <h2>R</h2>

                <h2>S</h2>

                <h2>T</h2>

                <h2>U</h2>

                <h2>V</h2>

                <h2>W</h2>

                <ul><li><a href="http://www.walitslaw.com/">Law office of Betsy Walits</a></li></ul>

                <h2>X</h2>

                <h2>Y</h2>

                <h2>Z</h2>

            </nav>
        </div>
    </div>
</div>
