@{
    ViewBag.Title = "Age";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Age Discrimination
                <small> </small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")

                </li>
                <li class="active">Age</li>
            </ol>
        </div>
    </div>


    <div class="row" align-text="middle">
        <div class="col-lg-8">
            <!-- the actual blog post: title/author/date/content -->
            <hr>
            <p>
                <i class="fa fa-clock-o"> Posted on March 11, 2017 at 10:56 AM by Deron B. Kosloski</i>
            </p>
            <hr>
            <img src="\images\age_discrimination.jpg " alt="Disability" style="width:50%; height:50%" >
            
            <hr>
            <p class="lead">Pictures Speak a Thousand Words... What are they saying to you?</p>
            <p>The other day I open an email from a top employment site, proclaiming that a top IT company is accelerating hiring for tech workers (Article Reference 3). I felt this was exciting news for the industry being that I am currently obtaining my degree in that field. So I open the article, to see where I might fit in, to my dismay the first thing I see, is a picture of happy office workers, all of them under forty. They say that pictures speak a thousand words, this spoke volumes to me stating that "you may apply if you are a tech worker, but you can't be over forty". Pictures like this do send a underlying message of what the company is really looking for. Does it mean that they won't hire anyone not within their age group, no but it does send that message. </p>
            <p><h4>AARP is a strong advocate</h4>AARP has been fighting this same fight for years. For example, They have a national effort to have employers proclaim that they will hire people no matter their age and recognize that experienced people are valuable, by signing an AARP Employer Pledge, (Article Reference 2). This is a wonderful effort and it should continue, but here is the problem out of all the companies in the United States only 290 have signed this, Thank You. To make this more intimate, in my home State of Indiana only three have signed it and only one of them is an actual business the other two are advocacy groups. It seems to me that a majority of the companies in this country don't want to commit to such a pledge, because in the eyes of companies they are hiring a liability and the easiest thing for them to do is ignore the fact that older people apply to their open positions. </p>
            <p>If this is an unfounded accusation then please prove this author wrong and sign the pledge, better yet hire a tech worker that is 40, 50, 60 or yes, even 70 years old. This may help to reduce the crying need for tech workers in the United States and not having to look elsewhere for them. The reason that so many older workers are still working or having to go back to work is the fact that retirement age has increased and a lot of older Americans simply don't have the funds to retire and sustain themselves, so working is their only option. These people are eager to help out and provide expertise that is only seen by experience, instead a growing number of them are greeted with "you're over qualified", "You don't have enough experience", (This is one my wife heard from a Major seller of Toys, when in fact she had spent her entire life in the field, she was interviewed by a 30 something.) there are probably a thousand others that have been heard, if you can think of any post them in the comments.</p>
            <p><h4>Ageism</h4>It happens all the time to workers but it seems to more pronounced in the technical fields. Especially when you have people like Mark Zuckerberg spouting off that he wants to "stress the importance of Young and Technical", " Younger people are just smarter" (Article Reference 4),in his 2007 school event. It is unfortunate but it is a mindset that also prevails in the business world as well and is called Ageism. Ageism is a mindset set that after a certain age that person will be put out to pasture, and the Zuckerbergs of the world are also approaching this very age that they denounced, maybe by then the attitude will have changed. This mindset is demoralizing to older people to suggest you can't do something because of your age, after being exposed to so often you just want to give up and give them what they want. Is it illegal? Absolutely, it is!!! But good luck trying to prove it court, as these companies also have lawyers that can skate around the law and find every loophole in the companies favor.</p>
            <p><h4>Proposed Solution</h4>AARP and many other groups want you to rush to your local EEOC office and file a complaint (Article Reference 1). If you think that is your only recourse for action then go do it. Don't be surprised if your case is lost and you are in a worse place than you where before you started this case, while Google and Facebook are laughing saying "see I told you so"(Article Reference 4). The sad fact is the aging have very little support as the up and coming just want them out of the way. The proposed solution I speak of is to expand the efforts of the AARP with age into all categories that the EEOC has protected again using networking and communication with companies that are open to hiring and working with these people. Understanding that there is still value that can be added to a company with someone that is not as perfect as Mark Zuckerberg or any other 30 something. Letting these people know that we are smart enough and that Ageism will no longer be tolerated. Though court cases can't always be avoided, it is the goal of Career Rescue to minimize these cases with these efforts and to provide a place where the afflicted can communicate with the people that can make a difference in the lives of many.</p>
            <p>According to the EEOC Age Discrimination is defined as "Age discrimination involves treating someone (an applicant or employee) less favorably because of his or her age."(Article Reference 1)</p>
            <p>
                <strong>Article References:</strong>
            </p>
            <ul>
                <li>
                    <a href="https://www.eeoc.gov/laws/types/age.cfm"> 1) EEOC: Age Discrimination</a>
                </li>
                <li>
                    <a href="http://www.aarp.org/work/job-search/employer-pledge-companies/?intcmp=AE-WOR-ERC-MAIN-PRGMS-SPOT1">2) AARP Employer Pledge Program</a>
                </li>
                <li>
                    <a href="https://www.monster.com/career-advice/article/tech-accenture-jobs-hiring-0217?wt.mc_n=CRM_US_B2C_LC_JOM_CSt_a2_170308">3) Accenture is accelerating hiring for tech workers</a>
                </li>
                <li>
                    <a href="http://www.informationweek.com/strategic-cio/team-building-and-staffing/are-you-too-old-for-it/d/d-id/1006268">4) Are You Too Old For IT?</a>
                </li>
            </ul>
            <hr>
            <!-- the comment box -->
            <div class="well">
                <div class="fb-comments" data-href="https://www.kosloskiprojects.com/topics/age" data-width="501" data-numposts="5"></div>
                <hr>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="well">
                <h4>Search</h4>
                <form method="get" action="http://www.google.com/search">
                    <div style="border:1px solid black;padding:4px;width:20em;">
                        <table border="0" cellpadding="0">
                            <tr>
                                <td>
                                    <input type="text" name="q" size="25" maxlength="255" value="" />
                                    <input type="submit" value="Google" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>

            </div>
            <!-- /input-group -->
            <!-- /well -->
            <div class="well">
                <h4>Popular Categories</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                <!--<a href="#dinosaurs">Dinosaurs</a>-->
                            </li>
                            <li>
                                
                            </li>
                            <li>
                                
                            </li>
                            <li>
                               
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                
                            </li>
                            <li>
                                
                            </li>
                            <li>
                                <!--<a href="#robots">Robots</a>--> 
                            </li>
                            <li>
                                
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /well -->
            <div class="well">
                <h3>Things!</h3>
                <h4>To view widgets go to <a href="http://www.kosloskiprojects.com/Topics/Age"> non-secure site</a>. they will not show in the secured site.</h4>
                <p><script type="text/javascript" src="http://100widgets.com/js_data.php?id=106"></script></p>
                <p><script type="text/javascript" src="http://100widgets.com/js_data.php?id=84"></script></p>
                <p>Radio<script type="text/javascript" src="http://100widgets.com/js_data.php?id=257"></script></p>
                <p>Share<script type="text/javascript" src="http://100widgets.com/js_data.php?id=73"></script></p>
            </div>
            <!-- /well -->
        </div>
    </div>
</div>
