@{
    ViewBag.Title = "Background";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
               Background Checks
                <small> </small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")

                </li>
                <li class="active">Background</li>
            </ol>
        </div>
    </div>

    <div class="row" align-text="middle">
        <div class="col-lg-8">
            <!-- the actual blog post: title/author/date/content -->
            <hr>
            <p>
                <i class="fa fa-clock-o">Posted on March 11, 2017 at 1:56 PM by Deron B. Kosloski</i> 
            </p>
            <hr>
            <img src="\images\background_discrimination.jpg " alt="Disability" style="width:50%; height:50%">

            <hr>
            <p class="lead">Curious that we spend more time congratulating people who have succeeded than encouraging people who have not. </p>
            <p>Was just curious about a link, so I went there to check it out, it generates sentences based on space reference, it generated the Lead to this Article, (Article Reference 1), which I felt was a perfect beginning to what happens when background checks are run. Let me get something straight right now, <b>This Author is <u>NOT</u> against background checks in the slightest.</b> But I do believe they are being used to further punish people that have records from 10, 20 or even 30 years ago as if something comes up they are just placed in a reject pile and left for others to pickup. It doesn't matter to companies if these individuals were truthful from the beginning or not, they are still undesirable.</p>
            <p>Background checks are used to find out about a persons history prior to employment or even during employment, which they must get permission for and supply a report that the reason that a person was hired or fired was on the background check report. (Article Reference 2) Background Checks only report the negative about a person and fail to report that a person has spent even more time trying to be a law abiding citizen, or has changed for the better. Companies don't care about that part of the person's life, only that they did something wrong in the past and they must be the same person now as they were 10 - 15 years earlier. This is discrimination, but unfortunately for the applicant or employee, it is legal discrimination and a fact of life now.</p>
            <p>As outlined by the EEOC, applicants and employees have rights to, (Article Reference 3), which should be exercised so that they are being given fair treatment under the law. In most cases an employer will tell you that your credentials are impressive but has decided to move in another direction, if they asked for your permission for a background check make sure they have to spend the time and money to get you the report, don't just blow it off. Employers refuse to budge on their practice of using background checks to hire individuals which puts the individual at a distinct disadvantage in comparison to the company. Though I do not normally advocate for using law suites against a company for violating rights, I do in this case simply because they have the upper hand and to them your good deeds after the fact DO NOT MATTER as they place you in a silo that condemns you to your past , no matter if it has changed or not.</p>
            <p>For this battle to change employers also have to have a change of heart and actually listen to individuals who are qualified but harbor a negative past. No, I am not talking about paid incentives from States who pay a company to hire ex-cons, but by finding out more about a person, now, as apposed to just speculating that an individual is a bad hire, because they done something wrong, 20 years ago. An employer is apt to find out the shocking news that a person can change and totally blow the preconception that "once a Criminal, always a Criminal", out of the water. It also wouldn't be accurate to say that a applicant with a past should not be given any job they want either, for instance: if someone convicted of stealing, then they shouldn't be given a job in a bank. Sometimes common sense should prevail and this is one of those times. Also, when someone is hired that has a criminal background, they should have conditions and constraints to be employed there, one violation results in termination. An Employer may be surprised at how many would walk the straight and narrow in their place of business, just to have a chance to prove they are a better person.</p>
            <p>It is understandable that business want to protect themselves but don't use this as an opportunity to find the so called "perfect employee", because you never know that "perfect person", may be the next one to commit a crime. So you see, you are taking a chance either way a chance is being taken, why not take on someone you know has a past and encourage them to be a better part of society and take the time to use common sense and lawfully screen them further to see if they can help fulfill your needs. They are out there but the two sides need to come together with communication, honesty and some thought processes may need to be changed as well such as "People that have been bad, can change for the good."</p>
            <p>
                <strong>Article References:</strong>
            </p>
            <ul>
                <li>
                    <a href="http://spaceipsum.com/">1) Space Ipsum</a>
                </li>
                <li>
                    <a href="https://www.eeoc.gov/eeoc/publications/background_checks_employers.cfm">2) Background Checks: What Employers Need to Know</a>
                </li>
                <li>
                    <a href="https://www.eeoc.gov/eeoc/publications/background_checks_employees.cfm">3) Background Checks: What Job Applicants and Employees Should Know</a>
                </li>
            </ul>
            <hr>
            <!-- the comment box -->
            <div class="well">
                <div class="fb-comments" data-href="https://www.kosloskiprojects.com/topics/background" data-width="501" data-numposts="5"></div>
                <hr>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="well">
                <h4>Search</h4>
                <form method="get" action="http://www.google.com/search">
                    <div style="border:1px solid black;padding:4px;width:20em;">
                        <table border="0" cellpadding="0">
                            <tr>
                                <td>
                                    <input type="text" name="q" size="25" maxlength="255" value="" />
                                    <input type="submit" value="Google Search" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>

            </div>
            <!-- /input-group -->
            <!-- /well -->
            <div class="well">
                <h4>Popular Categories</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                
                            </li>
                            <li>
                                
                            </li>
                            <li>
                                
                            </li>
                            <li>
                                
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                
                            </li>
                            <li>
                                
                            </li>
                            <li>
                                
                            </li>
                            <li>
                               
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /well -->
            <div class="well">
                <h3>Things!</h3>
                <p>
                <script type="text/javascript" src="http://100widgets.com/js_data.php?id=106"></script></p>
                <p>
                <script type="text/javascript" src="http://100widgets.com/js_data.php?id=84"></script></p>
                <p>Radio
                <script type="text/javascript" src="http://100widgets.com/js_data.php?id=257"></script></p>
                <p>Share
                <script type="text/javascript" src="http://100widgets.com/js_data.php?id=73"></script></p>
            </div>
            <!-- /well -->
        </div>
    </div>
</div>
