@{
    ViewBag.Title = "Disability";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Disability Discrimination
                <small> </small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")

                </li>
                <li class="active">Disability</li>
            </ol>
        </div>
    </div>
    <div class="row" align-text="middle">
        <div class="col-lg-8">
            <!-- the actual blog post: title/author/date/content -->
            <hr>
            <p>
                <i class="fa fa-clock-o"> Posted on March 11, 2017 at 3:39 PM by Deron B. Kosloski</i>
            </p>
            <hr>
            <img src="\images\wheelchair_stairs.jpg " alt="Disability" style="width:85%; height:85%">

            <hr>
            <p class="lead">Disability Discrimination in the work place, a sad truth.</p>
            <p><iframe width="554" height="380" src="https://www.youtube.com/embed/0QxPeATbcNA" frameborder="0" allowfullscreen></iframe> </p>
            <p>You would seriously consider <b>NOT</b> hiring Stephen Hawking?</p>
            <p><iframe width="554" height="380" src="https://www.youtube.com/embed/o0lt0KFhUek" frameborder="0" allowfullscreen></iframe></p>
            <p>These videos are messages which are full of impact, so is this subject matter. EEOC gives the people with disabilities the right to work, (Article Resource 2) Employers with good attitudes enhance their business and give someone the ability to be self sufficient and productive in society. People with disabilities are probably going to be the hardest working individuals that you have ever experienced. The change here needs to come from the people that are hiring. The attitudes are such that they become the barrier that needs to be overcome, not the disability. Making reasonable accommodations in your business for people with disabilities is just a short term financially set back and will be returned to you in short period three fold. So break down the walls and adjust your attitude, people with disabilities are not a hindrance but a asset in more way than you can imagine.</p>
            <p><b>Please be Warned:</b> This website was created by a person with a disability. It may appear to be normal.</p>
            <p>
                <strong>Article Resources</strong>
            </p>
            <ul>
                <li>
                    <a href="http://youtube.com">1) You Tube Videos on Disability Discrimination</a>
                </li>
                <li>
                    <a href="https://www.eeoc.gov/laws/types/disability.cfm">2) EEOC: Disability Discrimination</a>
                </li>
                
            </ul>
            <hr>
            <!-- the comment box -->
            <div class="well">
                <div class="fb-comments" data-href="https://www.kosloskiprojects.com/topics/disability" data-width="501" data-numposts="5"></div>
                <hr>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="well">
                <h4>Search</h4>
                <form method="get" action="http://www.google.com/search">
                    <div style="border:1px solid black;padding:4px;width:20em;">
                        <table border="0" cellpadding="0">
                            <tr>
                                <td>
                                    <input type="text" name="q" size="25" maxlength="255" value="" />
                                    <input type="submit" value="Google Search" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>

            </div>
            <!-- /input-group -->
            <!-- /well -->
            <div class="well">
                <h4>Popular Categories</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                
                            </li>
                            <li>
                                
                            </li>
                            <li>
                                
                            </li>
                            <li>
                                
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li>
                                
                            </li>
                            <li>
                                
                            </li>
                            <li>
                                
                            </li>
                            <li>
                                
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /well -->
            <div class="well">
                <h3>Things!</h3>
                <h4>To view widgets go to <a href="http://www.kosloskiprojects.com/Topics/Disability"> non-secure site</a>. they will not show in the secured site.</h4>
                <p>
                    <script type="text/javascript" src="http://100widgets.com/js_data.php?id=106"></script>
                </p>
                <p>
                    <script type="text/javascript" src="http://100widgets.com/js_data.php?id=84"></script>
                </p>
                <p>
                    Radio
                    <script type="text/javascript" src="http://100widgets.com/js_data.php?id=257"></script>
                </p>
                <p>
                    Share
                    <script type="text/javascript" src="http://100widgets.com/js_data.php?id=73"></script>
                </p>
            </div>
            <!-- /well -->
        </div>
    </div>
</div>
