@{
    ViewBag.Title = "Disability";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Disability Discrimination
                <small> </small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")

                </li>
                <li class="active">Disability</li>
            </ol>
        </div>
    </div>
</div>
