@{
    ViewBag.Title = "About";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                About
                <small>It's Nice to Meet You!</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!--<img src="http://placehold.it/750x450" class="img-responsive">-->
            <h1><i class="fa fa-envira" style="font-size:48px;color:gold"></i><p style="color:blue">Southern New Hampshire University</p></h1>
        </div>
        <div class="col-md-6">
            <h2>Welcome to Career Rescue!</h2>
            <p>The video that is playing is the security statement of the website, letting everyone know that this site is protected by Comodo SSL, we want your information to be protected on this site!</p>
            <p>Hi, my name is Deron, Career Rescue was created by me as a capstone project in my Masters program at Southern New Hampshire University. The idea came to after experiencing several bad experiences one of which was discrimination. The idea was designed to be a alternative to the traditional ways to handle this situation which usually ended up in a court and most times in the favor of the company. I felt there was a better way to bring companies and individuals together.</p>
            <p>Career Rescue is my attempt at finding a better way to bring the factions together in a win-win type situation, first and foremost through HONEST communication, which is something that has been lost somewhere. The first stage of this adventure is to create a job board for individuals that belong to a category in which the EEOC has listed and for Employers who will openly and honestly hire these people knowing that they may have some limitations but are willing to give their all at their company.Though at the end of this capstone project this site will be undoubtedly not fully finished, it will have the basic components to be built on if the interest is there, otherwise this was an exercise in how to build a website from scratch and hopefully well deserved positive grade, so ENJOY watching the project progress!</p>
            <p>Thank You</p>
            <p>Deron B Kosloski</p>
        </div>
    </div>
    <!-- Team Member Profiles -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">The Team</h2>
        </div>
        <div class="col-sm-4">
            <img width="200" height="337" src="/images/Deron.jpg" class="img-responsive">
            <h3>
                Deron Kosloski
                <small>CEO/Designer/Project Manager/Programmer/Web Master</small>
            </h3>
            <p>He does everything for this website and makes all the final decisions, he is the site Guru</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                    <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link">
                    <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link">
                    <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link">
                    <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/nRt3oEx4Hws?autoplay=1&rel=0" frameborder="0" allowfullscreen align="middle">"</iframe>
            <h3>
                Security Statement
                <small></small>
            </h3>
            <p>Committed to protecting data!</p>
            
        </div>
        <!-- Our Customers 
        <div class="row">
            <div class="col-lg-12">
                
                <h3></h3>

            </div>

        </div>-->
