@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Welcome to Career Rescue!!</h1>

            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Welcome", "Home")</li>
                <li class="active">Contact</li>
            </ol>
            <p>Please enjoy your visit.</p>
        </div>
    </div>
</div>


